.add-colour, .marker::marker {
    --base-fg: var(--pre-text-color);
    --base-bg: var(--pre-background-color);
    background-color: var(--add-bg, --base-bg);
    color: var(--add-fg, --base-fg);
}

.add-font {
    --base-font: var(--base-font-family);
    font-family: var(--add-font, --base-font);
}

.add-size, .marker::marker {
    --base: var(--article-font-size);
    font-size: var(--add-size, --base);
}

.emojify {
    --base: var(--article-font-size);
	font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
	font-size: var(--add-size, --base);
}
