{{ if or (.Prev) (.Next) }}
<div class="article-pagers">
    {{ with .Prev }}
    <a href="{{ .RelPermalink }}">Previous</a>
    {{ end }}

    {{ with .Next }}
    <a href="{{ .RelPermalink }}">Next</a>
    {{ end }}
</div>
{{ end }}